body {
	font-family: Calibri, sans-serif;
}

h1, h2, h3, h4 {
	color: #335;
	font-weight:bold;
	margin-top: 0px;
}

h3 {
 font-size: 1.5em;
}

p, a {
	font-size: 12px;
	margin-bottom: 0px;
}

a {
	color: #55a;
}

a:hover {
    color: #55f;
}

.titulo {
	color: 444;
	font-weight: bold;
	margin-bottom: 0px;
}

.holder {
	max-width: 90%;
	display: block;
	padding: 10px;
}

.hold-drops {
	width: 30%;
	display: inline-block;
	margin: 0 10px 10px 0;
}

.plot {
	display: inline-block;
	padding: 3px;
    width:auto;
}

.Select--multi .Select-value {
    color: #335;
    background-color: #e9e9e9;
    border-color: #ccc;
}

.Select--multi .Select-value-icon {
    border-right-color:#ccc;
}